<form action="/create_ancate" method="post">
	<table>
		<tr>
			<th>アンケート名</th>
			<td>
				<input type="text" name="name" value="<%= name %>" />
			</td>
		</tr>
	</table>
	<input type="submit" name="send" value="send" />
</form>