<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>node.js ancate</title>
	</head>
	<body>
		<% if(docs){ %>
			<ul>
			<% for( var doc in docs ){ %>
				<li><%= docs[doc].name %></li>
				<li><%= docs[doc].unpublish %></li>
				<li><%= docs[doc].created_on %></li>
				<li><%= docs[doc].fields.length %></li>
				<li>------------------------</li>
			<% } %>
			</ul>
		<% } %>
	</body>
</html>